{%load static%}
    {%block beginning%}
    {%endblock%}
    
      <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="bi" width="55" height="55" src = "{%static 'main/img/logo.png'%}">
            </a>
          </div>

          {% if request.user.is_authenticated %}
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary text-success">Главная</a></li>
            <li><a href="/add_expense" class="nav-link px-2 text-success">Добавить трату</a></li>
            <li><a href="/settings" class="nav-link px-2 text-success">Настройки</a></li>
          </ul>
          <div class="col-md-3 text-end">
            <a href = "logout"><button type="button" class="btn btn-outline-primary me-2">Выйти</button></a>
          </div>
          {%else%}
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary text-success">Главная</a></li>
            <li><a href="/add_expense" class="nav-link px-2 text-success">Добавить трату</a></li>
          </ul>
          <div class="col-md-3 text-end">
            <a href = "/login"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
            <a href = "/register"><button type="button" class="btn btn-primary">Зарегестрироваться</button></a>
          </div>
          {%endif%}
        </header>
      </div>

    {%block content%}
    {%endblock content%}
  </body>