 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-text-1 {
  margin: 25px 353px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 461px;
  background-image: none;
  margin: 28px 281px 60px 349px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 291px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 181px;
    margin-left: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: 157px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 27px;
    margin-right: 71px;
    margin-left: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}